.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-jump);
    margin-top: var(--space-xs);
    margin-bottom: var(--space-lg);
  }
  
  .post h2 {
    margin-top: 0.5em;
    font-size: var(--small-heading3);
    font-weight: 400;
  }
  
  .post figure {
    position: relative;
    aspect-ratio: 16/9;
  }
  
  .gridList{
    width: 1000px;
    max-width: 100%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    column-gap: 95px;
    row-gap: 70px;
    justify-content: center;
  }

  .gridList li{
    display:block;
    transition-duration: 0.2s;
    background-color: rgb(255, 232, 232);
    border-radius: 20px;
  }

  .gridList li:hover{
    transform: scale(1.15);
  }

  .gridList dl {
    margin-top: 20px;
  }

  .gridList dt{
    font-weight: bold;
    width: 90%;
    margin: auto;
  }

  .time{
    width: 90%;
    margin: auto;
    color:#cfbdbd;
  }

  .figureContainer {
    position: relative; /* Imageコンポーネントのlayout="fill"を正しく機能させる */
    width: 220px; /* 画像の幅 */
    height: 180px; /* 画像の高さ */
    overflow: hidden; /* はみ出した画像を非表示にする */
    margin: auto;
    border-radius: 20px;
  }

  
  .gridList .gridLabel {
    position: relative;
    top: 0;
    left: calc(100% + 18px);
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    transform-origin: top left;
    transform: rotate(90deg);
  }

  @media (max-width: 700px) {
    .gridList{
      width: 930px;
      max-width: 100%;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, 100px);
      column-gap: 20px;
      row-gap: 15px;
      justify-content: center;
    }
    .figureContainer {
      position: relative; /* Imageコンポーネントのlayout="fill"を正しく機能させる */
      width: 90px; /* 画像の幅 */
      height: 80px; /* 画像の高さ */
      overflow: hidden; /* はみ出した画像を非表示にする */
      margin: auto;
      border-radius: 10px;
     
    }
    .gridList dt{
      font-weight: bold;
      font-size: 10px;
      width: 90%;
      margin: auto;
    }

}